h1{
    color: blue;
    border: 0PX solid black;
    text-align: center;
    background-color: black;
    padding: 2%;
}

p{
    color: red;
    font-size: 30px;
}

#p1{
    color: blueviolet;
    font-size: 30px;
}

#p2{
    color: green;
    font-size: 30px;
}

body{
    margin: 0;
}

.asdj{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}