@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: poppins, serif;
    font-weight: 400px;
    font-style: normal;
      
}

#head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#head1>img{
    height: 50px;
    width: 50px;
}

#head-opt>span,button{
    margin-left: 10px;
    margin-right: 20px;
   
}

#head2{
    text-align: center;
    background-color: rgb(234,225,245);
    padding: 10px;
}

#search-bar>span:hover{
    border-bottom: 1px solid black;
  }
  
  #search-bar>span>input{
  border: none;
  }

  #head3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }

  #menu-opt{
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  #menu-opt h1{
    text-align: center;
    font-family: syne;
    font-weight: bold;
  }

  #menu-opt nav{
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  #menu-opt nav a{
    text-decoration: none;
  }

  #auth{
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
  }

  #profile-logo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    display: flex;
  }

  #profile-logo i{
    color: #fff;
    font-size: 1.1rem;
    padding-top:8px;
    padding-left: 4px;
  }

  #auth button{
    display: flex;
    width: 50%;
    justify-content: space-between;
    border: none;
    background-color: #fff;
    align-items: center;
  }

  #auth span, a{
    font-size: 1rem;
  }

  #container{
    display: flex;
  }
  
  #box1{
    width:50%;
    height: 500px;
    background-color: #F7E7CE;
  }

  #box2{
    width:50%;
    height: 500px;
    background-image: url(https://static.wixstatic.com/media/84770f_acfc43cf570e4f6aa092ca77cb3a96c5~mv2.jpg/v1/fill/w_594,h_590,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/84770f_acfc43cf570e4f6aa092ca77cb3a96c5~mv2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #gift{
    font-size: 80px;
  }

  #box1 p{
    font-size: 21px;
    word-spacing: 6px;
    text-align: center;
  }


  #btn>a{
    text-decoration: none;
    color: blue;
    font-weight: 100px;
  }

  #btn:hover{
    background-color: black;
    color: white;
  }


  #box1>div{
    text-align: center;
    width: 80%;
    margin: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

 .dropdown{
  list-style: none;
 }

 ul li:hover{
   background-color: magenta;
   color: black;
 }

.item{
  display: none;
}

ul li:hover .item{
  display: block;
  position: absolute;
  margin-left: 0.21cm;
  margin-top: 0.27cm;
  border: 1px solid black none;
  background-color: yellow;
  margin-top: 1px;
}

.item ul{
  margin: 0;
  padding: 0;
}

.item ul li{
  display: block;
}

.cart-page{
    margin: 80px auto;

}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: black;
    background: #F7E7CE;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid black;
    width: 100%;
    max-width: 480px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

a>button{
  float: right;
  margin-top: 20px;
  padding: 5px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 21px;
}

a>button:hover{
  background-color: black;
  color: white;
}

.container{
  max-width: 1170px;
  background-color: #F7E7CE ;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  background-color:#F7E7CE ;

}

.footer-col{
  width: 25%;
  padding: 70px 0 ;
}

.footer-col h3{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}


.social{
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

 /* .footer-col h3::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  height: 2px;
  width: 50px;
  
} */

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 600;
  color:black;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: black;
  background-color: white;
  padding-left: 8px;
}

.footer-col p{
  font-size: 16px;
  font-weight: 600;
}

.btn{
  padding: 3px;
  border-radius: 50px;
  color: white;
  background-color: black;
}
.btn:hover{
  background-color: white;
  color: blue;
  font-weight: 500;
}

h4{
  text-align: center;
  font-size: 400px;
  margin: auto;
}







