@font-face {
    font-family:shivmohan;
    src: url(/L12/Protest_Revolution/ProtestRevolution-Regular.ttf);
}

h1{
    font-family: shivmohan;
    text-align: center;
    text-decoration: underline;
    background-color: gray;
}

form{
display: flex;
flex-direction: column;
border: 2px solid black;
border-radius: 12px;
padding: 15px;
margin: auto;
gap: 30px;
width: 200px;
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

body{
    margin: 0%;
    background-color:#414942  ;
}
.inp_login{
    width: 50%;
    margin: auto;
    padding: 6px;
    border-radius: 12px;
}